
  .center{
    text-align: center;
  }
  table{
    text-align: center;
  }
  caption{
      font-size:20px;
      font-style:normal;
      color:red;
      background-color: #008B8B;
      text-indent: 2em;
    }
  tr{
    color:#008B8B;
    font-size:15px;
    background-color: green;
    text-indent: 2em;
    line-height: 4em;
  }
  #sos{
    color:green;
    font-size:20px;
  }
  .art{
    color:#008B8B;
    font-size:20px;
    word-spacing: 10px;
  }
  .second{
    border-top: 1px solid  red;
    border-right: 1px solid red;
    border-left: 2px solid red;
  }
  .food>li{
    border:2px solid #008B8B;
    }/*添加边框样式（粗细为1px， 颜色为红色的实线）*/
  .first{
    font-size: 22px;
    font-weight: bold;
    color: #666;
    text-indent: 2em;
    line-height: 4em;
    letter-spacing: 10px;
  }
  /*.first span{
    border:2px solid #008B8B;
  }*/
  .first a{
    font-style:italic;
    text-decoration: line-through;
  }
  *{
    background-color:#A9A9A9;
    font-family: "Microsoft Yahei";
  }
