.public-header{
  margin: 0 auto;
  height:65px;
  /*width: 1350px;*/
  background-color: #000000;

}
.public-header .header-logo{
  float: left;
  margin-left: 0px;
  margin-top: 8px;

  background: url("../images/header-logo.png") no-repeat;
}
.public-header .header-logo a{
    width: 75px;
    height: 55px;
}
.public-header .header-nav{
    /*margin: 0 auto;*/
    margin-top: 5px;
    float: left;
    font-size: 15px;
    width: 600px;
}
.public-header .header-nav a:hover{
    text-decoration: underline;
}
.public-header .header-nav .item{
    float: left;
    margin-top: 20px;
    margin-left: 30px;
    color: #adf1ff;
}
.public-header .header-lock{
    float: right;
    margin-top: 20px;
    margin-right: -80px;

}
.public-header .header-lock .header-lock-search{
    float: left;
    margin-top: 8px;
    margin-right: 10px;
    width: 30px;
    height: 24px;
    background: url("../images/header-lock-search.png") no-repeat;
}
.public-header .header-lock .header-lock-real{
    float: left;
    margin-top: 8px;
    margin-right: 10px;
    width: 14px;
    height: 16px;
    background: url("../images/header-lock-real.png") no-repeat;
}
.public-header .public-header-login{
    float: right;
    margin-top: 12px;
    width: 150px;
    height: 50px;
}
.public-header .public-header-login .login-text{
    width: 60px;
    height: 40px;
    float: left;
    margin-top: 12px;
    margin-left: 10px;
    font-size: 15px;
    font-family: "Microsoft YaHei";
    border: 5px;
    color: #adf1ff;

}
.public-container{
    position: relative;
    margin: 0 auto;
    width: 1100px;
  }
