.index-banner{
    position: relative;
    background: #2cafe3;
}
.index-banner-bg{
    height: 648px;
    overflow: hidden;
}
.index-banner-bg img{
    margin: 0 auto;
}
/*.index-banner .index-banner-font{*/
    /*position: absolute;*/
    /*width: 493px;*/
    /*height: 150px;*/
    /*float: left;*/
   /*left: 100px;*/
/*}*/
.index-panel{
    margin-top: 80px;

}
.index-panel .index-panel-1 h2{
    font-size: 50px;
    color: #3b3b3b;
}
.index-panel .index-panel-1 p{
    font-size: 18px;
    color: #3b3b3b;
}
.index-panel .index-panel-1-1{
    position: relative;
    float: inherit;
    text-align: center;
    margin-top: 30px;
}
.index-panel .index-panel-1 .index-panel-x{
    margin: 40px auto;
    height: 60px;
    width: 60px;
    text-align: center;
    background: url("../images/index-panel-1.png")  no-repeat;
}


