.index-banner{
    position: relative;
    background: #2cafe3;
}
.index-banner-bg{
    height: 648px;
    overflow: hidden;
}
.index-banner-bg img{
    margin: 0 auto;
}
/*.index-banner .index-banner-font{*/
    /*position: absolute;*/
    /*width: 493px;*/
    /*height: 150px;*/
    /*float: left;*/
   /*left: 100px;*/
/*}*/


